<app-header></app-header>
<div class="sidebar-container">
  <p-sidebar [(visible)]="sidebarVisible" [blockScroll]="true" styleClass="custom-sidebar">
    <div class="sidebar-menu">
      <img src="assets/img/logo.svg" alt="logo do programa">
      <a routerLink="home" class="menu-item" (click)="sidebarVisible = !sidebarVisible">
        <i class="pi pi-home"></i>
        <span>Home</span>
      </a>
      <a routerLink="tecnicos" class="menu-item" (click)="sidebarVisible = !sidebarVisible">
        <i class="pi pi-briefcase"></i>
        <span>Técnicos</span>
      </a>
      <a routerLink="/" class="menu-item">
        <i class="pi pi-user"></i>
        <span>Clientes</span>
      </a>
      <a routerLink="/" class="menu-item">
        <i class="pi pi-info-circle"></i>
        <span>Sobre</span>
      </a>
      <a routerLink="/" class="menu-item">
        <i class="pi pi-sign-in"></i>
        <span>Sair</span>
      </a>
    </div>
  </p-sidebar>
  <p-button (click)="sidebarVisible = !sidebarVisible" icon="pi pi-bars" class="sidebar-toggle-button custom-button"></p-button>
</div>
<router-outlet></router-outlet>
