<div class="card">
  <h2>Lista de Tecnicos</h2>
  <p-button icon="pi pi-user-plus"></p-button>
  <p-table
    [value]="ELEMENT_DATA"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    (onPage)="($event)"
    [rowsPerPageOptions]="[10, 25, 50]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width:25%">Id</th>
        <th style="width:25%">Nome</th>
        <th style="width:25%">CPF</th>
        <th style="width:25%">Email</th>
        <th style="width:25%">Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-Tecnico>
      <tr>
        <td>{{ Tecnico.id }}</td>
        <td>{{ Tecnico.nome }}</td>
        <td>{{ Tecnico.cpf }}</td>
        <td>{{ Tecnico.email }}</td>
        <td>{{ Tecnico.acoes }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
