<div class="login-container">
  <div class="login-card">
    <div class="p-card p-fluid">
      <h2 class="p-card-title">Login</h2>
      <form>
        <div class="p-field">
          <label for="username">Email</label>
          <input
            type="text"
            id="username"
            pInputText
            [(ngModel)]="creds.email"
            [formControl]="email"
            autocomplete="email"
            required>
        </div>
        <div class="p-field">
          <label for="password">Senha</label>
          <div class="p-password">
            <input
              type="{{ passwordVisible ? 'text' : 'password' }}"
              id="password"
              pInputText
              [(ngModel)]="creds.senha"
              [formControl]="senha"
              required>
            <button type="button" (click)="togglePasswordVisibility()" pButton class="p-button-eye" pRipple>
              <i class="pi pi-eye-slash" *ngIf="!passwordVisible"></i>
              <i class="pi pi-eye" *ngIf="passwordVisible"></i>
            </button>
          </div>
        </div>
        <button pButton pRipple (click)="logar()" [disabled]="!validarCampos()" type="button" class="p-button" label="Entrar"></button>
      </form>
    </div>
  </div>
</div>
