<div class="login-container">
  <div class="login-card">
    <div class="p-card p-fluid">
      <h2>Login</h2>
      <form>
        <div class="p-field">
          <label for="username">Email</label>
          <input 
          type="text" 
          id="username"
          pInputText 
          [formControl]="email"
          [(ngModel)]="creds.email" 
          name="email" 
          autocomplete="email"
          required>
        </div>
        <div class="p-field">
          <label for="password">Senha</label>
          <input  
          type="password" 
          id="password"
          pInputText 
          [formControl]="senha"
          [(ngModel)]="creds.senha" 
          name="senha" 
          required>
        </div>
        <button pButton pRipple (click)="logar()" [disabled]="!validarCampos()" type="submit" pButton label="Entrar"></button>
        <button type="button" pButton pRipple (click)="logar()" label="Error" class="p-button-danger">Error</button>
      </form>
    </div>
  </div>
</div>
