.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  width: 350px;
}

.p-card {
  border-radius: 10px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.p-field {
  margin-bottom: 20px;
  border-color: rgb(65, 161, 86);
}

.p-field input:focus,
.p-field input:hover {
  outline: none;
  box-shadow: none;
  border-color: rgb(65, 161, 86);
}

.p-field .p-password {
  display: flex;
  align-items: center;
}

.p-field .p-password input {
  flex: 1;
}

.p-field .p-password button {
  margin-left: 10px;
}

.p-card {
  padding: 20px;
  width: 90%;
  margin: auto;
}

.p-dropdown-item.p-highlight.p-focus {
  background: rgb(215, 255, 224);
}

.p-paginator-current {
  color: green;
}

.p-paginator {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.p-paginator-page.p-highlight {
  background: rgb(215, 255, 224);
  border-color: rgb(215, 255, 224);
  color: green;
}

.p-focus {
  box-shadow: none;
  border-color: rgb(215, 255, 224);
}

span {
  color: green;
}

.p-button-eye {
  color: green;
  background: white;
  background-color: white;
  width: auto;
  height: auto;
  margin-bottom: -1px;
}

.p-button-eye:hover {
  color: black;
  background: white;
}

.eye-icon {
  color: green;
}

.p-password {
  display: flex;
  align-items: center;
}

.p-password input {
  flex: 1;
  margin-right: 70px;
}

.p-button-eye {
  background: none;
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 5px;
}
.p-button-eye i {
  font-size: 1.2em;
}

.p-button-eye:hover {
  color: black;
}

h2 {
  color: black;
}