div {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

p-ripple {
    color: white;
}

.voltar-button {
    color: white;
}

span {
    color: white;
}

.card {
    padding: 17px; /* Adiciona um padding interno */
}

.p-button {
    width: 100%;
}

form {
    margin-left: 1rem;
    margin-right: 1rem;
}

.p-card {
    padding-top: 10px;
}

.flex-column {
    padding-top: 10px;
}

h2, h3 {
    color: black;
}

input {
    border-color: green;
}
