.status-prioridade {
    display: flex;
    justify-content: space-between;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.p-dropdown {
    width: 100%;
}

.ui-dropdown-panel {
    max-height: 200px;
    overflow-y: auto;
}

.form-group textarea {
    min-height: 6rem;
    max-height: 10rem;
    height: auto;
    resize: vertical;
}

div {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

p-ripple {
    color: white;
}

.voltar-button {
    color: white;
}

.p-button {
    width: 100%;
}

form {
    margin-left: 1rem;
    margin-right: 1rem;
}

.p-card {
    padding-top: 10px;
}

.flex-column {
    padding-top: 10px;
}

h2, h3 {
    color: black;
}

input, textarea {
    border-color: green;
}

span {
    color: red;
}

