@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import '../node_modules/ngx-toastr/toastr.css';

.p-button {
    margin-bottom: 10px;
    background: rgb(65, 161, 86);
    background-color: rgb(65, 161, 86);
    border-color: rgb(65, 161, 86);
    color: white;
  }
  
  .p-button:hover {
    background: green;
    border-color: green;
  }
  
  .p-button:focus,
  .p-button:active {
    outline: none;
    box-shadow: none;
  }

  .p-sidebar-icon {
    color: black;
  }
  
  .p-card-title, .p-card-subtitle {
    color: black;
  }

  th {
    color: black;
  }

  .p-paginator-current {
    color: green;
  }
  
  .p-paginator {
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .p-paginator-page.p-highlight {
    background: rgb(215, 255, 224);
    border-color: rgb(215, 255, 224);
    color: green;
  }

  .p-dropdown-item.p-highlight.p-focus {
    background: rgb(215, 255, 224);
    box-shadow: none;
  }

  .p-dropdown {
    border-color: green;
  }

  .p-dropdown:active,
  .p-dropdown:focus,
  .p-dropdown:not(.p-disable) {
    box-shadow: none;
  }

  .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    color: green;
    background: rgb(215, 255, 224);
  }

  .p-inputtext {
  color: black;
  }

  input.p-inputtext.p-component.p-element.p-inputmask {
    border-color: rgb(65, 161, 86);
  }

  .p-inputtext:enabled:hover,
  .p-inputtext:enabled:focus {
    border-color: rgb(65, 161, 86);
    box-shadow: none;
}
