<div class="container">
    <p-button routerLink="../../" label="Voltar" class="voltar-button"><i class="pi pi-arrow-left"></i></p-button>
    <div class="p-card p-fluid">
        <h2>Visualizando chamado</h2>

        <div class="form-group">
            <label for="titulo">Título do Chamado</label>
            <input [disabled]="true" [(ngModel)]="chamado.titulo" name="titulo" pInputText id="titulo"/>
        </div>

        <div class="form-group">
            <label for="status">Status:</label>
            <p-dropdown [disabled]="true" name="status" placeholder="{{ chamado.status }}" id="status"></p-dropdown>
        </div>
                    
        <div class="form-group">
            <label for="prioridade">Prioridade:</label>
            <p-dropdown [disabled]="true"  name="prioridade" placeholder="{{ chamado.prioridade }}" id="prioridade"></p-dropdown>
        </div>
        
        <div class="form-group">
            <label for="tecnico">Técnico:</label>
            <p-dropdown [disabled]="true"  optionLabel="nome" placeholder="{{ chamado.nomeTecnico }}" id="tecnico"></p-dropdown>
        </div>
        
        <div class="form-group">
            <label for="cliente">Cliente:</label>
            <p-dropdown [disabled]="true"  optionLabel="nome" placeholder="{{ chamado.nomeCliente }}" id="cliente"></p-dropdown>
        </div>    

        <div class="form-group">
            <label for="observacoes">Observações:</label>
            <textarea [disabled]="true"  name="observacoes" id="observacoes" class="descricao" rows="5" cols="30" pInputTextarea>{{ chamado.observacoes }}</textarea>
        </div>
    </div>
</div>
