<div class="container">
    <div class="form">
        <p-button routerLink="../../" label="Voltar" class="voltar-button"><i class="pi pi-arrow-left"></i></p-button>
        <div class="login-container">
            <div class="login-card">
                <div class="p-card p-fluid">
                    <h2>Excluir Técnico</h2>
                    <form>
                        <h3>Dados do Usuário</h3>

                        <div class="flex flex-column gap-2">
                            <span class="p-float-label">
                                <input type="text" pInputText name="nome" [(ngModel)]="tecnico.nome" [disabled]="true"/>
                                <label for="nome"><i class="pi pi-user"></i> Nome</label>
                            </span>
                        </div>

                        <div class="flex flex-column gap-2">
                            <span class="p-float-label">
                                <p-inputMask mask="999.999.999-99" name="cpf" type="text" [(ngModel)]="tecnico.cpf" [disabled]="true" />
                                <label for="CPF"><i class="pi pi-id-card"></i> CPF</label>
                            </span>
                        </div>

                        <div class="flex flex-column gap-2">
                            <span class="p-float-label">
                                <input type="email" pInputText name="email" [(ngModel)]="tecnico.email" [disabled]="true" />
                                <label for="email"><i class="pi pi-envelope"></i> Email</label>
                            </span>
                        </div>

                        <div class="flex flex-column gap-2">
                            <span class="p-float-label">
                                <input type="password" pInputText name="senha" [(ngModel)]="tecnico.senha" [disabled]="true"/>
                                <label for="senha"><i class="pi pi-lock"></i> Senha</label>
                            </span>
                        </div>
                        <small id="delete-help">ATENÇÃO: ao clicar em deletar este tecnico sera deletado permanentemente!</small>
                        <p-button id="deletarButton" (click)="deletar()" label="Deletar" class="p-button-cadastro"></p-button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
