<div class="card-container">
  <div class="card">
    <h2>Lista de Chamados</h2>
    <p-button routerLink="criar" icon="pi pi-user-plus"></p-button>
    <input type="text" #searchInput placeholder="Buscar..." (input)="applyFilter(searchInput.value)" />
      <div class="card flex justify-content-center gap-3">
        <div class="flex align-items-center">
           <p-checkbox label="Cheese" name="pizza" value="ABERTO"></p-checkbox>
       </div>
       <div class="flex align-items-center">
           <p-checkbox label="Mushroom" name="pizza" value="ANDAMENTO"></p-checkbox>
       </div>
       <div class="flex align-items-center">
           <p-checkbox label="Pepper" name="pizza" value="ENCERRADO"></p-checkbox>
       </div>
      <p-table
        [value]="ELEMENT_DATA"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        (onPage)="($event)"
        [rowsPerPageOptions]="[10, 25, 50]"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width:25%">Id</th>
            <th style="width:25%">Titulo</th>
            <th style="width:25%">Cliente</th>
            <th style="width:25%">Tecnico</th>
            <th style="width:25%">Data de Abertura</th>
            <th style="width:25%">Prioridade</th>
            <th style="width:25%">Status</th>
            <th style="width:25%">Ações</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-Chamado>
          <tr>
            <td>{{ Chamado.id }}</td>
            <td>{{ Chamado.titulo }}</td>
            <td>{{ Chamado.nomeCliente }}</td>
            <td>{{ Chamado.nomeTecnico }}</td>
            <td>{{ Chamado.dataAbertura }}</td>
            <td>{{ retornaPrioridade(Chamado.prioridade) }}</td>
            <td>{{ retornaStatus(Chamado.status) }}</td>
            <td class="colunaacoes">
              <a routerLink="">
                <i class="pi pi-pencil"> </i>
              </a>
              <a routerLink="">
                <i class="pi pi-eye"></i>
              </a>
            </td>
          </tr>
  </ng-template>
</p-table>

