<div class="card-container">
  <div class="card">
    <h2>Lista de Chamados</h2>
    <p-button routerLink="criar" icon="pi pi-user-plus"></p-button>
    <p-table
      [value]="ELEMENT_DATA"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 25, 50]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width:25%">Id</th>
          <th style="width:25%">Titulo</th>
          <th style="width:25%">Cliente</th>
          <th style="width:25%">Tecnico</th>
          <th style="width:25%">Data de Abertura</th>
          <th style="width:25%">Prioridade</th>
          <th style="width:25%">Status</th>
          <th style="width:25%">Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-chamado>
        <tr>
          <td>{{ chamado.id }}</td>
          <td>{{ chamado.titulo }}</td>
          <td>{{ chamado.nomeCliente }}</td>
          <td>{{ chamado.nomeTecnico }}</td>
          <td>{{ chamado.dataAbertura }}</td>
          <td>{{ retornaPrioridade(chamado.prioridade) }}</td>
          <td>{{ retornaStatus(chamado.status) }}</td>
          <td class="colunaacoes">
            <a routerLink="editar/{{ chamado.id }}">
              <i class="pi pi-pencil"> </i>
            </a>
            <a routerLink="visualizar/{{ chamado.id }}">
              <i class="pi pi-eye"></i>
            </a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
