div {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

p-ripple {
    color: white;
}

.voltar-button {
    color: white;
}

span {
    color: white;
}

h2 {
    color: red;
}

.p-card {
    padding-top: 10px;
    padding: 17px;
}

.flex-column {
    padding-top: 10px;
}

small {
    color: red;
}

